<h1>Hi, <%= @user.name %></h1>

<p>You requested password reset at <%= @app_name %></p>

<p>Please click link below to reset password</p>
<a href="<%= @url %>">Passowrd Reset from here</a>

<p>THank you, <% @app_name %></p>